.image-container{
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Makes the image circular */
    overflow: hidden; 
}
/* *{
    border: solid brown;
} */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: rgb(136, 136, 136,0,281);

}
::-webkit-scrollbar-thumb:hover{
    background: #555;
}

.custom-modal .modal-dialog {
    max-width: 600px;
}

.custom-modal .modal-content {
    max-height: 80vh;
    overflow-y: auto;
}

.custom-modal .modal-body {
    max-height: calc(80vh - 150px);
    overflow-y: auto;
}
