*{

   
      font-family: "Rubik", sans-serif;
    
 }
 .App{
    min-height: 100vh;
    display: flex;
    background-image:url("./267933960f566c4d6ed02bd55890f7c7.jpg") ;
    background-size: cover;
    background-position: center;


 }
 
