*{

   
      font-family: "Rubik", sans-serif;
    
 }
 .App{
    min-height: 100vh;
    display: flex;
    background-image:url("./aec89173426833.5c08f56351139.png") ;
    background-size: cover;
    background-position: center;


 }
 
