*{

   
      font-family: "Rubik", sans-serif;
    
 }
 .Homepage-background{
    min-height: 100vh;
    display: flex;
    background-image:url("./267933960f566c4d6ed02bd55890f7c7.jpg") ;
    background-size: cover;
    background-position: center;


 }
 
 .Chatpage-background {
   background-image: url('../src/aec89173426833.5c08f56351139.png');
   background-size: cover;
   background-position: center;
   height: 100vh;
   width: 100%;
 }